@model PlayerManagement.Models.Player

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h2>Are you sure you want to delete @Model.FullName</h2>
<hr />
<div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerPosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerPosition.PlayerPos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plays)
        </dt>
        <dd class="col-sm-10">
            @{
                int positionsCount = Model.Plays.Count;
                if (positionsCount > 0)
                {
                    string firstPosition = Model.Plays.FirstOrDefault().PlayerPosition.PlayerPos;
                    if (positionsCount > 1)
                    {
                        string positionsList = "";
                        var c = Model.Plays.ToList();
                        for (int i = 1; i < positionsCount; i++)//Skip the first because we have it already
                        {
                            positionsList += c[i].PlayerPosition.PlayerPos + " <br />";
                        }
                        <a class="" role="button" data-bs-toggle="collapse" href="#collapseSpecalty@(Model.Id)"
                        aria-expanded="false" aria-controls="collapseSpecalty@(Model.Id)">
                            @firstPosition <span class="badge bg-info">@positionsCount</span>
                        </a>
                        <div class="collapse" id="collapseSpecalty@(Model.Id)">
                            @Html.Raw(positionsList)
                        </div>
                    }
                    else
                    {
                        @firstPosition
                    }
                }
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Team.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a href='@ViewData["returnURL"]'>Back to List</a>
    </form>
</div>
