@model PlayerManagement.Models.Player

@{
    ViewData["Title"] = "Player Edit";
}

<h2>Team: @Model.FullName</h2>

<hr />
@{
    var hasPicture = (Model.PlayerPhoto?.Content != null);
    if (hasPicture)
        {
            @:<div>
                string imageBase64 = Convert.ToBase64String(Model.PlayerPhoto.Content);
                string imageSrc = string.Format("data:" + Model.PlayerPhoto.MimeType + ";base64,{0}", imageBase64);
                <img src="@imageSrc" alt="Profile Picture of @Model.FullName" title="Profile Picture of @Model.FullName" class="img-fluid rounded" />
            @:</div><hr />
        }
    }
<hr />
<partial name="_addPlayerPositionModal" />
<form asp-action="Edit" method="post" enctype="multipart/form-data">
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row">
    <div class="col-md-4">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="RowVersion" />
            <div>
        @{
            if (hasPicture)
            {
                <div class="row">
                    <div class="form-check m-3">
                        <input class="form-check-input" type="checkbox" id="chkRemoveImage" name="chkRemoveImage">
                        <label class="form-check-label" for="chkRemoveImage">
                        <strong>Check to remove Image</strong>
                        </label>
                    </div>
                </div>
            }
        }
    </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label class="control-label custom-file-label">Picture File:</label>
                    <div class="input-group mb-3">
                      <input type="file" class="form-control" name="thePicture" id="thePicture">
                    </div>
                </div>
            <div class="form-group">
                <label asp-for="TeamId" class="control-label"></label>
                <select asp-for="TeamId" class ="form-control" asp-items="ViewBag.TeamId">
                    <option value="">Select a Team</option>
                </select>
                <span asp-validation-for="TeamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayerPositionId" class="control-label"></label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" id="nowAddPlayerPosition" data-bs-toggle="modal" data-bs-target="#addPlayerPositionModal" type="button"><strong>+</strong></button>
                    </div>
                    <select asp-for="PlayerPositionId" class="form-control" asp-items="ViewBag.PlayerPositionId">
                        <option value="">None</option>
                    </select>
                </div>
            </div>
            </div>
            <div class="col-md-8">
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label"> Secondary Player Position(s):</label> <button type="button" id="btnRight" class="btn btn-danger btn-sm">
                        <strong>-</strong>
                    </button>
                    @Html.ListBox("selectedOptions", (MultiSelectList)ViewBag.selOpts, new { @size = 10, @class = "form-control" })
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label"> Choose Secondary Player Position(s):</label> <button type="button" id="btnLeft" class="btn btn-success btn-sm">
                        <strong>+</strong>
                    </button>
                    @Html.ListBox("availOptions", (MultiSelectList)ViewBag.availOpts, new { @size = 10, @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label"> Current Documents:</label>
                <div class="ml-md-3">
                    @{
                        int fileCount = Model.PlayerDocuments.Count;
                        if (fileCount > 0)
                        {
                            var firstFile = Model.PlayerDocuments.FirstOrDefault(); ;
                            if (fileCount > 1)
                            {
                                        <a class="" role="button" data-bs-toggle="collapse" href="#collapseDocs@(Model.Id)" aria-expanded="false" aria-controls="collapseDocs@(Model.Id)">
                                            <span class="badge badge-info">@fileCount</span> Current Documents...
                                        </a>
                                <div class="collapse" id="collapseDocs@(Model.Id)">
                                    @{
                                        foreach (var d in Model.PlayerDocuments)
                                        {
                                            <a asp-action="Download" asp-route-id="@d.Id">@d.FileName</a> <br />
                                        }
                                    }
                                </div>
                            }
                            else
                            {
                                <a asp-action="Download" asp-route-id="@firstFile.Id">@firstFile.FileName</a>
                            }
                        }
                    }
                </div>
            </div>
            <div class="form-group">
                <label class="control-label custom-file-label">Upload Additional Documents:</label>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="theFiles" multiple="multiple">
                </div>
            </div>
        </div>
        </div>
            <div class="form-group">
                <input type="submit" id="btnSubmit" value="Save" class="btn btn-primary" />
            </div>
        </form>


<div>
    <a href='@ViewData["returnURL"]'>Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/multiselect.js"></script>

    <script src="~/js/refreshDDL.js"></script>

    <script type="text/javascript">
        $('#submitPlayerPositionCreate').click(function (event) {
            event.preventDefault();
            var form = $('#createPlayerPositionForm');
            if (form.valid()) {
                $.ajax({
                    type: "POST",
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function () {
                        $('#addPlayerPositionModal').modal('hide');
                    },
                    error: function () {
                        alert("Create Failed.  There was a problem adding the record.");
                    }
                });
            }
            return false;
        });
        $('#addPlayerPositionModal').on('hide.bs.modal', function () {
            $('#createPlayerPositionForm').find("input[type=text], textarea, select").val("");//to clear the data in the popup
            var selectedOption = $('#PlayerPositionId').val();//Return to the current selected value
            refreshDDL('PlayerPositionId', '/Players/GetPlayerPositions/' + selectedOption, false, null, true, 'None', true);
        });
    </script>
}
