@using PlayerManagement.ViewModels;
@model dynamic

@{
    ViewData["Title"] = "Home Page";
}

@{
    //List for Matches
    List<MatchSchedule> matchSchedules = ViewBag.MatchSchedules;
    bool hasMatches = matchSchedules.Any();
}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <table class="table">
                <thead>
                    @if (hasMatches)
                    {
                        <tr>
                            <th colspan="2">Matchweek @ViewBag.MatchweekNumber</th>
                        </tr>
                    }
                </thead>
                <tbody>
                    @if (hasMatches)
                    {
                        @foreach (MatchSchedule match in ViewBag.MatchSchedules)
                        {
                            <tr>
                                <td>@match.HomeTeamAbbreviation </td>
                                <td>VS</td>
                                <td>@match.AwayTeamAbbreviation </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <th colspan="2">Matchweek</th>
                        </tr>
                        <tr>
                            <td colspan="2">No matches scheduled this week</td>
                        </tr>
                    }
                </tbody>
            </table>


        </div>
        <div class="col-sm-6">

            <div id="leaguePhotos" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="/images/soccer1_640.jpg" class="d-block w-100" alt="soccer players playing">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="/images/soccer2_640.jpg" class="d-block w-100" alt="soccer players playing">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/soccer3_640.jpg" class="d-block w-100" alt="soccer players playing">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#leaguePhotos" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#leaguePhotos" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <hr>
            <h3>League Rules</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non ultrices ipsum, non molestie ex. Vivamus fermentum pretium sapien a ullamcorper. Vivamus id purus quam. Cras a urna erat.</p>
            <p>
                <ul>
                    <li>9 vs 9 Coed Adult (including the goalie)</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li><span style="color: #ff0000;"><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong></span></li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                </ul>
            </p>
            <p>Register <a href="#">here</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Club Information</h2>
            <p>
                <strong><u>SOCCER CLUB</u><br></strong><strong>Park</strong><br>#1234 Park Road<br>St Catharines, ON<br>L0S 1E0<br><strong>Phone: </strong>1+ 000 000 0000<strong>
                    <br>Email:
                </strong> info@soccerclub.ca
            </p>
            <p><strong><u>Office Hours</u></strong><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <p><strong>Tuesday and Thursday<br></strong>4pm-8pm</p>
            <p><strong>Saturday <br></strong>9am-1pm</p>
            <p></p>
        </div>

    </div>
</div>


<div class="row justify-content-md-end">
    <div class="col-sm-9 col-sm-offset-4">
        <div class="sponsor-list">
            <h3>Our Sponsors</h3>
            <ul>
                <li>
                    <a href="https://icongr.am/devicon/csharp-original.svg?size=40&color=currentColor" target="_blank">
                        <img src="https://icongr.am/devicon/csharp-original.svg?size=40&color=currentColor" alt="Sponsor 1" />
                    </a>
                </li>
                <li>
                    <a href="https://icongr.am/devicon/bootstrap-plain.svg?size=40&color=563d7c" target="_blank">
                        <img src="https://icongr.am/devicon/bootstrap-plain.svg?size=40&color=563d7c" alt="Sponsor 2" />
                    </a>
                </li>
                <li>
                    <a href="https://icongr.am/devicon/dot-net-original-wordmark.svg?size=40&color=563d7c" target="_blank">
                        <img src="https://icongr.am/devicon/dot-net-original-wordmark.svg?size=40&color=563d7c" alt="Sponsor 3" />
                    </a>
                </li>
                <li>
                    <a href="https://icongr.am/devicon/javascript-original.svg?size=40&color=currentColor" target="_blank">
                        <img src="https://icongr.am/devicon/javascript-original.svg?size=40&color=currentColor" alt="Sponsor 4" />
                    </a>
                </li>
                <li>
                    <a href="https://icongr.am/devicon/github-original-wordmark.svg?size=40&color=currentColor" target="_blank">
                        <img src="https://icongr.am/devicon/github-original-wordmark.svg?size=40&color=currentColor" alt="Sponsor 5" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="table-standings col-sm-3">
            <div class="standings-header">
                <h4>Standings</h4>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Pos</th>
                        <th>Team</th>
                        <th>Pl</th>
                        <th>GD</th>
                        <th class="table-standings-points">Pts</th>
                    </tr>
                    @foreach (var standing in ViewBag.Standings)
                    {
                        <tr>
                            <td>@standing.Position</td>
                            <td>
                                @{/*NM: if statement to control the teamname lenght being displayed in table. Removed if in a future is included a short form of the name in the Model properties */ 
                                    if (standing.TeamName.Length >= 17)
                                    {
                                        var teamName = standing.TeamName.Split(' ');
                                        if (teamName.Length >= 2)
                                        {
                                            @teamName[0] @teamName[1]
                                        }
                                        else
                                        {
                                            @standing.TeamName.Substring(0, 17)
                                        }
                                    }
                                    else
                                    {
                                        @standing.TeamName
                                    }
                                }
                            </td>
                            <td>@standing.Played</td>
                            <td>@standing.GoalsDifference</td>
                            <td>@standing.Points</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="link-standings">
                <a asp-area="" asp-controller="Standings" asp-action="Index">View More...</a>
            </div>
        </div>

        <div class="col-sm-9">
            <div class="stats-title-section">
                <h4>Stats</h4>
            </div>
            <!-- Teams stats -->
            <div class="team-stats container">
                <span class="stats-title">Best Attack</span>
                <div class="row">
                    <div class="col-sm">
                        <div class="stats-card">
                        <img src="https://anfpfotos.cl/clubes/logos/831340ccfeb595f722e7ae6009c5f7d7.svg" class="team-logo">
                        <span class="stat-value">47</span>
                            <hr class="line-between">
                        <span class="team-name">Team 1</span>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="stats-card">
                            <img src="https://anfpfotos.cl/clubes/logos/831340ccfeb595f722e7ae6009c5f7d7.svg" class="team-logo">
                            <span class="stat-value">47</span>
                            <hr class="line-between">
                            <span class="team-name">Team 2</span>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="stats-card">
                            <img src="https://anfpfotos.cl/clubes/logos/831340ccfeb595f722e7ae6009c5f7d7.svg" class="team-logo">
                            <span class="stat-value">47</span>
                            <hr class="line-between">
                            <span class="team-name">Team 3</span>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="stats-card">
                            <img src="https://anfpfotos.cl/clubes/logos/831340ccfeb595f722e7ae6009c5f7d7.svg" class="team-logo">
                            <span class="stat-value">47</span>
                            <hr class="line-between">
                        <span class="team-name">Team 4</span>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="stats-card">
                            <img src="https://anfpfotos.cl/clubes/logos/831340ccfeb595f722e7ae6009c5f7d7.svg" class="team-logo">
                            <span class="stat-value">47</span>
                            <hr class="line-between">
                            <span class="team-name">Team 5</span>
                        </div>
                    </div>
                </div>

                <span class="stats-title">Best Defense</span>
                <div class="row">
                    <div class="col-sm">
                        <div class="stats-card">
                            <img src="https://anfpfotos.cl/clubes/logos/831340ccfeb595f722e7ae6009c5f7d7.svg" class="team-logo">
                            <span class="stat-value">47</span>
                            <hr class="line-between">
                            <span class="team-name">Team 1</span>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="stats-card">
                            <img src="https://anfpfotos.cl/clubes/logos/831340ccfeb595f722e7ae6009c5f7d7.svg" class="team-logo">
                            <span class="stat-value">47</span>
                            <hr class="line-between">
                            <span class="team-name">Team 2</span>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="stats-card">
                            <img src="https://anfpfotos.cl/clubes/logos/831340ccfeb595f722e7ae6009c5f7d7.svg" class="team-logo">
                            <span class="stat-value">47</span>
                            <hr class="line-between">
                            <span class="team-name">Team 3</span>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="stats-card">
                            <img src="https://anfpfotos.cl/clubes/logos/831340ccfeb595f722e7ae6009c5f7d7.svg" class="team-logo">
                            <span class="stat-value">47</span>
                            <hr class="line-between">
                            <span class="team-name">Team 4</span>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="stats-card">
                            <img src="https://anfpfotos.cl/clubes/logos/831340ccfeb595f722e7ae6009c5f7d7.svg" class="team-logo">
                            <span class="stat-value">47</span>
                            <hr class="line-between">
                            <span class="team-name">Team 5</span>
                        </div>
                    </div>
                </div>

                <span class="stats-title">Most Matches Won</span>
                <div class="row">
                    <div class="col-sm">
                        <div class="stats-card">
                            <img src="https://anfpfotos.cl/clubes/logos/831340ccfeb595f722e7ae6009c5f7d7.svg" class="team-logo">
                            <span class="stat-value">47</span>
                            <hr class="line-between">
                            <span class="team-name">Team 1</span>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="stats-card">
                            <img src="https://anfpfotos.cl/clubes/logos/831340ccfeb595f722e7ae6009c5f7d7.svg" class="team-logo">
                            <span class="stat-value">47</span>
                            <hr class="line-between">
                            <span class="team-name">Team 2</span>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="stats-card">
                            <img src="https://anfpfotos.cl/clubes/logos/831340ccfeb595f722e7ae6009c5f7d7.svg" class="team-logo">
                            <span class="stat-value">47</span>
                            <hr class="line-between">
                            <span class="team-name">Team 3</span>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="stats-card">
                            <img src="https://anfpfotos.cl/clubes/logos/831340ccfeb595f722e7ae6009c5f7d7.svg" class="team-logo">
                            <span class="stat-value">47</span>
                            <hr class="line-between">
                            <span class="team-name">Team 4</span>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="stats-card">
                            <img src="https://anfpfotos.cl/clubes/logos/831340ccfeb595f722e7ae6009c5f7d7.svg" class="team-logo">
                            <span class="stat-value">47</span>
                            <hr class="line-between">
                            <span class="team-name">Team 5</span>
                        </div>
                    </div>
                </div>

                <span class="stats-title">Best Goalscorers</span>
                <div class="row">
                    <div class="col-sm">
                        <div class="stats-card">
                            <img src="https://anfpfotos.cl/clubes/logos/831340ccfeb595f722e7ae6009c5f7d7.svg" class="team-logo">
                            <span class="stat-value">47</span>
                            <hr class="line-between">
                            <span class="team-name">Team 1</span>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="stats-card">
                            <img src="https://anfpfotos.cl/clubes/logos/831340ccfeb595f722e7ae6009c5f7d7.svg" class="team-logo">
                            <span class="stat-value">47</span>
                            <hr class="line-between">
                            <span class="team-name">Team 2</span>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="stats-card">
                            <img src="https://anfpfotos.cl/clubes/logos/831340ccfeb595f722e7ae6009c5f7d7.svg" class="team-logo">
                            <span class="stat-value">47</span>
                            <hr class="line-between">
                            <span class="team-name">Team 3</span>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="stats-card">
                            <img src="https://anfpfotos.cl/clubes/logos/831340ccfeb595f722e7ae6009c5f7d7.svg" class="team-logo">
                            <span class="stat-value">47</span>
                            <hr class="line-between">
                            <span class="team-name">Team 4</span>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="stats-card">
                            <img src="https://anfpfotos.cl/clubes/logos/831340ccfeb595f722e7ae6009c5f7d7.svg" class="team-logo">
                            <span class="stat-value">47</span>
                            <hr class="line-between">
                            <span class="team-name">Team 5</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Teams stats ends-->
        </div>
    </div>
</div>


<div class="container">
    <div class="row">

        @* Player to watch *@
        <div class="col-sm-3">
            <h4 class="player-to-watch">Player to Watch</h4>
            <div class="card-players">
                <div class="row no-gutters">
                    <!-- Player Stats -->
                    <div class="col-md-4 sol-sm-12">
                        <ul class="list-group list-group-flush">
                            <!-- Matches -->
                            <li class="list-group-item">
                                Matches:
                                <span class="value">141</span>
                            </li>
                            <!-- Goals -->
                            <li class="list-group-item">
                                Goals:
                                <span class="value">34</span>
                            </li>
                            <!-- Assists -->
                            <li class="list-group-item">
                                Assists:
                                <span class="value">28</span>
                            </li>
                            <!-- Shots -->
                            <li class="list-group-item">
                                Shots:
                                <span class="value">275</span>
                            </li>
                        </ul>
                    </div>
                    <!-- Player Photo -->
                    <div class="col-md-8 col-sm-12">
                        <img src="/images/blankProfile.jpg" class="card-img-top" alt="Player Photo">
                    </div>
                </div>
                <!-- Lower Div -->
                <div class="row d-flex align-items-center">
                    <!-- Player Name -->
                    <div class="col-md-4 col-sm-12">
                        <div class="player-name-container">
                        <div class="player-firstname">
                            <p>Player</p>
                        </div>
                        <div class="player-lastname">
                            <p>Name</p>
                        </div>
                        <span class="fi fi-cl"></span>
                        </div>
                    </div>

                    
                    <!-- Social Media -->
                    <div class="player-social-media col-md-4 col-sm-12 align-self-center">
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i></a>
                        <a href="#"><i class="bi bi-snapchat"></i></a>
                        <a href="#"><i class="bi bi-threads-fill"></i></a>
                    </div>
                </div>
            </div>

            <h4 class="player-to-watch">Player to Watch</h4>
            <div class="card-players">
                <div class="row no-gutters">
                    <!-- Player Stats 2 -->
                    <div class="col-md-4 sol-sm-12">
                        <ul class="list-group list-group-flush">
                            <!-- Matches -->
                            <li class="list-group-item">
                                Matches:
                                <span class="value">141</span>
                            </li>
                            <!-- Goals -->
                            <li class="list-group-item">
                                Goals:
                                <span class="value">34</span>
                            </li>
                            <!-- Assists -->
                            <li class="list-group-item">
                                Assists:
                                <span class="value">28</span>
                            </li>
                            <!-- Shots -->
                            <li class="list-group-item">
                                Shots:
                                <span class="value">275</span>
                            </li>
                        </ul>
                    </div>
                    <!-- Player Photo -->
                    <div class="col-md-8 col-sm-12">
                        <img src="/images/blankProfile.jpg" class="card-img-top" alt="Player Photo">
                    </div>
                </div>
                <!-- Lower Div -->
                <div class="row d-flex align-items-center">
                    <!-- Player Name -->
                    <div class="col-md-4 col-sm-12">
                        <div class="player-name-container">
                            <div class="player-firstname">
                                <p>Player</p>
                            </div>
                            <div class="player-lastname">
                                <p>Name</p>
                            </div>
                            <span class="fi fi-cl"></span>
                        </div>
                    </div>


                    <!-- Social Media -->
                    <div class="player-social-media col-md-4 col-sm-12 align-self-center">
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i></a>
                        <a href="#"><i class="bi bi-snapchat"></i></a>
                        <a href="#"><i class="bi bi-threads-fill"></i></a>
                    </div>
                </div>
            </div>


        </div>





        <div class="col-sm-9">
            <div class="row row-cols-3 g-4">
                <div class="col">
                    <div class="card">
                        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top" alt="Hollywood Sign on The Hill">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                                This is a longer card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top" alt="Palm Springs Road">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                                This is a longer card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp" class="card-img-top" alt="Los Angeles Skyscrapers">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                                This is a longer card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" id="second-row">
                        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                                This is a longer card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/046.webp" class="card-img-top" alt="Skyscrapers">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                                This is a longer card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>


<div class="row justify-content-md-end">
    <div class="col-sm-9 col-sm-offset-4">
        <div class="sponsor-list">
            <h3>Our Sponsors</h3>
            <ul>
                <li>
                    <a href="https://icongr.am/devicon/csharp-original.svg?size=40&color=currentColor" target="_blank">
                        <img src="https://icongr.am/devicon/csharp-original.svg?size=40&color=currentColor" alt="Sponsor 1" />
                    </a>
                </li>
                <li>
                    <a href="https://icongr.am/devicon/bootstrap-plain.svg?size=40&color=563d7c" target="_blank">
                        <img src="https://icongr.am/devicon/bootstrap-plain.svg?size=40&color=563d7c" alt="Sponsor 2" />
                    </a>
                </li>
                <li>
                    <a href="https://icongr.am/devicon/dot-net-original-wordmark.svg?size=40&color=563d7c" target="_blank">
                        <img src="https://icongr.am/devicon/dot-net-original-wordmark.svg?size=40&color=563d7c" alt="Sponsor 3" />
                    </a>
                </li>
                <li>
                    <a href="https://icongr.am/devicon/javascript-original.svg?size=40&color=currentColor" target="_blank">
                        <img src="https://icongr.am/devicon/javascript-original.svg?size=40&color=currentColor" alt="Sponsor 4" />
                    </a>
                </li>
                <li>
                    <a href="https://icongr.am/devicon/github-original-wordmark.svg?size=40&color=currentColor" target="_blank">
                        <img src="https://icongr.am/devicon/github-original-wordmark.svg?size=40&color=currentColor" alt="Sponsor 5" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="home-footer text-center text-lg-start text-white">
    <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="section-title">
                        Soccer Club
                    </h6>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
                <hr class="w-100 clearfix d-md-none" />
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="section-title">League</h6>
                    <p>
                        <a class="footer-link">Teams</a>
                    </p>
                    <p>
                        <a class="footer-link">Fields</a>
                    </p>
                    <p>
                        <a class="footer-link">Match Schedules</a>
                    </p>
                </div>
                <hr class="w-100 clearfix d-md-none" />
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="section-title">
                        Useful links
                    </h6>
                    <p>
                        <a class="footer-link">Your Account</a>
                    </p>
                    <p>
                        <a class="footer-link">FAQ</a>
                    </p>
                    <p>
                        <a class="footer-link">Help</a>
                    </p>
                </div>
                <hr class="w-100 clearfix d-md-none" />
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="section-title">Contact</h6>
                    <p>
                        <i class="bi bi-house-door"></i> #1234 Park Road,
                        St Catharines, ON L0S 1E0
                    </p>
                    <p>
                        <i class="bi bi-envelope"></i> info@soccerclub.ca
                    </p>
                    <p>
                        <i class="bi bi-telephone"></i> + 01 000 000 0000
                    </p>
                </div>
            </div>
        </section>
        <!-- Section: Links -->
        <hr class="my-3">
        <section class="p-3 pt-0">
            <div class="row d-flex align-items-center">
                <!-- Grid column -->
                <div class="col-md-7 col-lg-8 text-center text-md-start">
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                    <!-- Facebook -->
                    <a class="btn btn-outline-light icon-button" role="button">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <!-- Twitter -->
                    <a class="btn btn-outline-light icon-button" role="button">
                        <i class="bi bi-twitter"></i>
                    </a>
                    <!-- Google -->
                    <a class="btn btn-outline-light icon-button" role="button">
                        <i class="bi bi-google"></i>
                    </a>
                    <!-- Instagram -->
                    <a class="btn btn-outline-light icon-button" role="button">
                        <i class="bi bi-instagram"></i>
                    </a>
                </div>
                <!-- Grid column -->
            </div>
        </section>
    </div>
</footer>
<!-- Footer -->


@section Scripts {
    <script>
        //Register the service worker.
        //Note is is still not "installable" without the manifest
        if (navigator.serviceWorker.controller) {
            console.log('Active service worker found, no need to register');
        } else {
            navigator.serviceWorker.register('sw.js', {
                scope: './'
            }).then(function (reg) {
                console.log('Service worker has been registered for scope:' + reg.scope);
            });
        }
    </script>

    <script src="js/swiper.min.js"></script>
}
