@model IEnumerable<PlayerManagement.Models.MatchSchedule>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
  <div class="row">
        <div class="col-sm-2">
      
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <input type="submit" name="actionButton" value="Date" class="btn btn-link" />
                        </th>
                        <th>
                            <input type="submit" name="actionButton" value="Time" class="btn btn-link" />
                        </th>
                        <th>
                            <input type="submit" name="actionButton" value="Field" class="btn btn-link" />
                        </th>
                        <th>
                            <input type="submit" name="actionButton" value="HomeTeam" class="btn btn-link" />
                        </th>
                        <th>
                            <input type="submit" name="actionButton" value="AwayTeam" class="btn btn-link" />
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Time)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Field.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HomeTeam.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AwayTeam.Name)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

    </div>
    <div class="col-sm-8">
            <h1>Welcome</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <hr>
            <h3>Test</h3>
            <p>Lorem ipsum...</p>
    </div>
    <div class="col-sm-2">
      3 of 3
    </div>

  </div>
</div>
   

@section Scripts {
    <script>
        //Register the service worker.
        //Note is is still not "installable" without the manifest
        if (navigator.serviceWorker.controller) {
            console.log('Active service worker found, no need to register');
        } else {
            navigator.serviceWorker.register('sw.js', {
                scope: './'
            }).then(function (reg) {
                console.log('Service worker has been registered for scope:' + reg.scope);
            });
        }
    </script>
}
