@model PlayerManagement.Models.MatchSchedule

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MatchSchedule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Field)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Field.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeTeam.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwayTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwayTeam.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeTeamScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeTeamScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwayTeamScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwayTeamScore)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
