@model IEnumerable<PlayerManagement.Models.MatchSchedule>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeTeamScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayTeamScore)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeTeam.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayTeam.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeTeamScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayTeamScore)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
