@model PlayerManagement.Models.League

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h2>League: @Model.Name</h2>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeagueFoundation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeagueFoundation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeagueBudget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeagueBudget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfTeams)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfTeams)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index" asp-controller="Lookups" asp-route-Tab="@Context.GetRouteValue("controller").ToString()-Tab">Back to Lookup List</a>
</div>
