@model PlayerManagement.Models.Team

@{
    ViewData["Title"] = "Team Details";
}

<h2>Team: @Model.Name</h2>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.League)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.League.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Players)
        </dt>
        <dd class="col-sm-10">
            @{
                int playerCount = Model.Players.Count;
                if (playerCount > 0)
                {
                    string firstCond = Model.Players.FirstOrDefault().FullName;
                    if (playerCount > 1)
                    {
                        string playerList = "";
                        var c = Model.Players.ToList();
                        for (int i = 1; i < playerCount; i++)//Skip the first because we have it already
                        {
                            playerList += c[i].FullName + " <br />";
                        }
                        <a class="" role="button" data-bs-toggle="collapse" href="#collapseSpecalty@(Model.Id)"
                   aria-expanded="false" aria-controls="collapseSpecalty@(Model.Id)">
                            @firstCond <span class="badge bg-info">@playerCount</span>
                        </a>
                        <div class="collapse" id="collapseSpecalty@(Model.Id)">
                            @Html.Raw(playerList)
                        </div>
                    }
                    else
                    {
                        @firstCond
                    }
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a href='@ViewData["returnURL"]'>Back to List</a>
</div>
