@model IEnumerable<PlayerManagement.Models.PlayerMatch>

@{
    ViewData["Title"] = "Player Stats";
}

<h1>Index</h1>

<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <div class="form-horizontal">
        <button class="btn @(ViewData["Filtering"])" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            Filter
        </button>
        <div class="form-horizontal">
            <div class="collapse card card-body bg-light" style="padding-top: 10px; padding-bottom: 5px;" id="collapseFilter">
                <div class="row">
                    <div class="form-group col-md-4 ml-md-3">
                        <label class="control-label">#Matches Played:</label>
                        @Html.DropDownList("MatchId", null, "All Games", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Search Notes:</label>
                        @Html.TextBox("SearchString", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4 align-self-end">
                        <input type="submit" name="actionButton" value="Apply" class="btn btn-primary" />
                        <a asp-action="Index">Clear</a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <table class="table">
                <colgroup>
                    <col span="1" />
                    <col span="1" />
                    <col span="1" />
                    <col span="1" />
                    <col span="1" width="400" />
                    <col span="1" />
                </colgroup>
                <tr>
                    <th>
                        <input type="submit" name="actionButton" value="Player" class="btn btn-link" />
                    </th>
                    <th>
                        <input type="submit" name="actionButton" value="Matches Played" class="btn btn-link" />
                    </th>
                    <th>
                        <input type="submit" disabled="disabled" value="Goals" class="btn btn-link" />
                        @{
                            int? goals = 0;
                        }
                    </th>
                    <th>
                        <input type="submit" disabled="disabled" value="Yellow Cards" class="btn btn-link" />
                        @{
                            int? yellowCards = 0;
                        }
                    </th>
                    <th>
                        <input type="submit" disabled="disabled" value="Red Cards" class="btn btn-link" />
                        @{
                            int? redCards = 0;
                        }
                    </th>
                    <th>
                        <input type="submit" disabled="disabled" value="Notes" class="btn btn-link" />
                    </th>
                    <th>
                        <a asp-controller="PlayerStats" asp-action="Create" >
                            <span class="btn btn-success" data-bs-toggle="tooltip"
                                  title="Add Appointment"><strong>&#x271A; Add</strong></span>
                        </a>
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Player.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Match.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Goals)
                            @{
                                goals += item.Goals;
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.YellowCards)
                            @{
                                yellowCards += item.YellowCards;
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RedCards)
                            @{
                                redCards += item.RedCards;
                            }
                        </td>
                        <td>
                            @{
                                string[] noteWords = item.Notes.Split(' ');
                                if (noteWords.Count() > 5)
                                {
                                    <a class="" role="button" data-bs-toggle="collapse" href="#collapseSum@(item.Id)" aria-expanded="false" aria-controls="collapseSum@(item.Id)">
                                        @(string.Join(" ", noteWords.Take(5)) + "...")
                                    </a>
                                    <div class="collapse" id="collapseSum@(item.Id)">
                                        <div class="well">
                                            @(string.Join(" ", noteWords.Skip(5)))
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    @item.Notes
                                }
                            }
                        </td>
                        <td>
                            <a asp-controller="PlayerStats" asp-action="Edit" asp-route-id="@item.Id">
                                <span class="btn btn-sm btn-outline-primary" data-bs-toggle="tooltip" title="Edit Stats">&#x270D;</span>
                            </a>
                            <a asp-controller="PlayerStats" asp-action="Delete" asp-route-id="@item.Id">
                                <span class="btn btn-sm btn-outline-danger" data-bs-toggle="tooltip" title="Delete Stats">&#x274C;</span>
                            </a>
                        </td>
                    </tr>
                }
             @*   <tr>
                    <td></td>
                    <td align="right">
                        Total Goals:
                    </td>
                    <td>
                        <strong>@goals.ToString()</strong>
                    </td>
                    <td></td>
                    <td></td>
                </tr>*@
            </table>
        </div>
    </div>
    <partial name="_PagingNavBar" />
</form>